@import 'scss-source/variables.module.scss';
@import 'scss-source/mixins.module.scss';

.Categories__Container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;    
    margin-bottom: 1.5rem;
    @include toRem(border-radius, 5);
    overflow: hidden;
    background-color: $green;    
    padding: 0;
    @include toRem(margin-bottom, 25);
    
        @include tablet {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            }

        @include mobile {
            display: none;
        }   

    .Category {  
        text-align: center; 
        padding: 0.5rem 1.56rem;
        @include toRem(padding-top, 8);
        @include toRem(padding-bottom, 8);
        @include toRem(padding-right, 25);
        @include toRem(padding-left, 25);     
        margin:0px;
        overflow: hidden;
        transition: 0.3s ease;

        &:first-child {
            @include toRem(border-top-left-radius, 5);
            @include toRem(border-bottom-left-radius, 5);
            @include toRem(padding-left, 25);            
        }

        &:last-child {
            @include toRem(border-top-right-radius, 5);
            @include toRem(border-bottom-right-radius, 5);
            @include toRem(padding-right, 25); 
        }
        
        &_Active {
            @extend .Category;
            background-color: $teal;        
        }
    }   

    .Categories_Text {
        padding: 0;
        margin: 0;
        font-size: 1rem;
        font-weight: 600;        
    }
}
