.Disabled {
  display: inline-block;
  @include toRem(margin-bottom, 32);
  color: $white;
  font-family: 'Lato', Arial, sans-serif;
  @include toRem(font-size, 15);
  font-weight: 400;
  @include toRem(border-radius, 4);
  border: 1px solid $dark-mode-border;
  margin-bottom: 2rem;
  background-color: $dark;
  box-shadow: none;
  width: 100%;
  cursor: not-allowed;
  @include toRem(line-height, 22.5);
  @include toRem(padding, 12);
  text-align: center;
  vertical-align: middle;

  @include mini {
    @include toRem(font-size, 20);
    @include toRem(padding, 20);
  }
}

.Btn {
  @extend .Disabled;
  cursor: pointer;
  background-color: $green;
  transition: 0.3s ease;
  -webkit-appearance: button;

  &:focus {
    box-shadow: none;
  }

  &:hover {
    background-color: $teal;
  }
}
