@import 'scss-source/variables.scss';
@import 'scss-source/mixins.scss';

.GameOver {
  &_Container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include toRem(border-radius, 5);
    background-color: $dark;
    font-weight: 400;
    max-width: 90%;
    overflow: hidden;
    height: 100vh;
    text-align: center;

    @include mobile {
      padding: 1rem;
    }
  }

  &_Title {
    @include toRem(font-size, 72);
    font-weight: 400;
    @include toRem(margin-bottom, 8);
    @include toRem(border-radius, 5);

    @include mobile {
      @include toRem(font-size, 32);
    }
  }

  &_Text {
    @include toRem(font-size, 18);
    @include toRem(margin-bottom, 24);
    font-weight: 400;

    @include mobile {
      @include toRem(font-size, 24);
    }
  }

  &_Btn {
    display: inline-block;
    margin: 3rem auto;
    color: $white;
    font-family: 'Lato', Arial, sans-serif;
    @include toRem(font-size, 15);
    font-weight: 400;
    @include toRem(border-radius, 4);
    border: none;
    box-shadow: none;
    width: 90%;
    cursor: pointer;
    @include toRem(line-height, 22.5);
    padding: 1rem;
    text-align: center;
    vertical-align: middle;
    background-color: $teal;
    transition: 0.3s ease;
    -webkit-appearance: button;

    @include mobile {
      @include toRem(padding, 24);
      @include toRem(font-size, 24);
    }

    &:focus {
      box-shadow: none;
    }

    &:hover {
      background-color: $green;
    }
  }
}

.Confetti{
  width: 100%;
  height: 100vw;
  opacity:0.8;
}
