@import 'shared/scss-source/variables.scss';
@import 'shared/scss-source/mixins.scss';

.GameOver {
  &_Container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include toRem(border-radius, 5);
    background-color: $dark;
    font-weight: 400;
    max-width: 90%;
    overflow: hidden;
    height: 100vh;
    text-align: center;

    @include mobile {
      padding: 1rem;
    }
  }

  &_Title {
    @include toRem(font-size, 72);
    font-weight: 400;
    @include toRem(margin-bottom, 8);
    @include toRem(border-radius, 5);

    @include mobile {
      @include toRem(font-size, 32);
    }
  }

  &_Text {
    @include toRem(font-size, 18);
    @include toRem(margin-bottom, 24);
    font-weight: 400;

    @include mobile {
      @include toRem(font-size, 24);
    }
  }  
}
