@import 'scss-source/variables.scss';
@import 'scss-source/mixins.scss';

.AnswerDetails {
    &_Container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    border: 1px solid $dark-mode-border;
    border-radius: 0.25rem;
    background-color:$dark; 
    padding: 1rem;
    font-weight: 400;
    width: auto;
    overflow: hidden;
        @include mini {
            display:none;
        }
    }
    &_Name_Text {
    border-bottom: 1px solid $dark-mode-border;
    padding: 0rem 0rem 1rem ;
    margin: 0px 0px 0px 0.5rem;     
    }
    &_Species_Text {
        @extend .AnswerDetails_Name_Text;
        padding: 0.25rem 0rem 0rem ;         
    }
    &_Image {
        width: 200px;
        height: 155px;
        border-radius: 0.625rem;
        object-fit: cover;            
        }
    &_Description {
        grid-column: span 2;
        font-weight: 600;
        max-width: auto;
    }
}

