$dark-background-color: #222;
$dark-section-background-color: rgb(48, 48, 48);
$green: #128262;
$teal: #1dbc8d;
$white : #fff;
$dark: #303030;
$dark-mode-border: rgb(85, 85, 85);
$red: rgb(216, 38, 38);
$soft-white:rgb(242, 234, 234);
$input-background:rgb(233, 223, 223);
