@import 'scss-source/variables.module.scss';
@import 'scss-source/mixins.module.scss';

.Form {
    &_Container  {         
        margin: 0 auto ;
        margin-bottom: 2rem;             
        @include toRem(border-radius, 5);
        color: $soft-white;
        background-color:$dark; 
        border: 1px solid $dark-mode-border;
        border-radius: 0.25rem;
        padding: 1rem;              
        font-weight: 400;
        max-width: 500px;
        overflow: hidden; 
            @include mobile {
                padding: 1rem;
            }
    }

    &_Error {
      font-size:0.8rem;
    }

    &_Wrapper {         
      margin: auto;
      max-width: 460px;        
      overflow: hidden;   
    }

    &_Link_Wrapper {
      display: flex;
      justify-content: center;
      max-width: 100%;       
      margin-bottom: 1rem;        
    }

    &_Link {        
      text-decoration: none;
      font-weight: 600;
      font-size: 1.2rem;
      padding-bottom: 0.5rem;
      width: 50%;
      text-align: center;
      color: $soft-white;
      border-bottom: 1px solid $dark-mode-border;
      position: relative;                  
    }
    

    &_Link:hover {
      @extend .Form_Link;      
      border-bottom: 1px solid $soft-white;   
    }   

      &_Link_Active {
      @extend .Form_Link;
      color: $teal;
      border-bottom: 1px solid $teal;          
    }

    &_Link_Active:hover {
      @extend .Form_Link_Active;
    }
    

    &_Label {
      display: block;
      font-size: 1.2rem;
      font-weight: 500;
      font-family: "Lato", Arial, sans-serif;
      display: block;
      text-align: left;
      margin: 1rem 0 0.2rem;
      @include toRem(padding-bottom, 10);
    }
    
    &_Input {        
      overflow: hidden;
      caret-color: $dark;  
      box-sizing: border-box;  
      width: 100%;
      padding: 1rem 0.5rem;
      margin-bottom: 1rem;
      font-size: 1rem;
      color:$dark;
      border: 1px solid $dark-mode-border;
      background-color: $input-background;
      border-radius: 10px;
      outline: none;
    }

    &_Input_Error {
        @extend .Form_Input;            
        border-color: $red;
    } 

    &_Input:focus {
        border-color: $teal;
    }

    &_Input::placeholder {
        color:$dark;
        font-weight: 600;
        @include toRem(font-size, 16);
    }
}

.Btn {
    display:inline-block;    
    @include toRem(margin-bottom, 32);
    @include toRem(margin-top, 32);     
    color: $soft-white;    
    font-family: "Lato", Arial, sans-serif;    
    @include toRem(font-size, 20);   
    font-weight: 400;    
    @include toRem(border-radius, 4);  
    border: 1px solid $dark-mode-border;
    background-color: $green;  
    box-shadow: none;
    width: 100%;
    cursor: pointer;    
    @include toRem(line-height, 22.5); 
    @include toRem(padding, 12);       
    text-align: center;
    vertical-align: middle;
  
    @include mini {
        @include toRem(font-size, 20);   
        @include toRem(padding, 20);   
    }  
  
    &:focus {
      box-shadow: none;
    }
  
    &:hover {
      background-color: $teal;
    }
  
    &:disabled {
      background-color: $dark;        
      transition: 0.3s ease; 
      cursor: not-allowed;   
    }
  }
