@import 'scss-source/variables.module.scss';
@import 'scss-source/mixins.module.scss';

.Login {
    &_Container { 
    border: 1px solid $dark-mode-border;
    @include toRem(border-radius, 4);
    background-color:$dark; 
    padding: 1rem;
    font-weight: 400;
    width: 460px;
    height: 100%;
    overflow: hidden;
    }
}


Form_InputLabel {
    color: $white;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;
    top: -14px;
    font-size: 12px;
    
  }
  
  .Form_Input {
    background: none;
    background-color: white;
    color: $dark;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $dark-mode-border;
    margin: 25px 0;
    &:focus {
      outline: none;
      background-color: aqua;
    }
    
  }
  
  .Group {
    position: relative;
    margin: 45px 0;
    input[type='password'] {
      letter-spacing: 0.3em;
    }
  }
