@import 'shared/scss-source/variables.scss';
@import 'shared/scss-source/mixins.scss';

.Score {
  @include toRem(font-size, 18);
  font-weight: 700;
  color: $soft-white;
  padding: 0 12px;
  max-width: 30%;
  @include mini {
    padding: 0;
    max-width: 100%;
  }
}
