.Navigation {
  &_Container {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    margin: 1rem auto 0 auto;
    padding: 0 1rem;
    align-items: flex-end;

    @include tablet {
      padding: 1rem 2rem;
    }

    @include mini {
     flex-direction: column-reverse;
     align-items: center;
      text-align: center;
      margin: 0 auto;
    }
  }

  &_Link_Wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-bottom: 12px;
    align-items: center;

    @include mini {
      margin: auto;
      justify-content: space-between;      
      width: 100%;
      margin-bottom: 0;
    }
  }

  &_Link {
    color: $soft-white;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 10px;

    @include mobile {
      font-size: 1rem;
    }
    @include mini {
      padding: 3px 5px;
    }    
  }

  &_Link:active {
    color: yellow;
  }

  &_LanguageSwitch_Wrapper {
    margin-left: 15px;
    
    @include mini {
      margin-left: 10px;
    }     
  }

  &_Score_Wrapper {    
    white-space: nowrap; 
    margin-left: 5px;         
  }
}

.Logo {
  max-width: 200px;
  @include mobile {
    max-width: 150px;
  }
  
  @include mini {
    max-width: 100px;
  }
}
