@import "react-h5-audio-player/lib/styles.css";
@import 'scss-source/variables.scss';
@import 'scss-source/mixins.scss';
@import './App.module.scss';

html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color : rgba(0, 0, 0, 0);
  box-sizing: border-box;  
}
body {
  margin: 0;
  font-family: "Lato", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white;
  background-color: $dark-background-color;
  font-size: 0.9375rem;
  font-weight: 400;  
  text-align: left;
  line-height: 1.4rem;
  input[type="checkbox" i]  {
    opacity: 0;
    position: absolute;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
.rhap_container {
  padding: 0.25rem;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: $white;
  width: 100%;
  margin-top: 0.5rem;
  box-shadow: none; 
  justify-content: center;
  svg {
    color : $green;
  }  
}
.rhap_progress-section {
  width: 87%;
  display: grid;
  padding-top: 0.5rem;
  grid-template-areas:
    "top top top top"
    "left . .  right";  
}
.rhap_controls-section {
  display: block;
}
.rhap_progress-container {
  grid-area: top;
  padding-bottom: 0.25rem;
}
.rhap_current-time {
  grid-area: left;
  color: $white;
  font-size: 0.75rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}
.rhap_total-time {
  grid-area: right;
  color: $white;
  text-align:end;
  font-size: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
}
.rhap_additional-controls {
  display:none;
}
.rhap_volume-controls {
  display:none;
}
.rhap_button-clear {
  font-size: 48px;
  width: 50px;
  height: 50px;
  padding-bottom: 1rem;
}

