@import 'scss-source/variables.scss';
@import 'scss-source/mixins.scss';

.AnswerOptions_Container {    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 340px;
    grid-column-gap: 1.75rem;
    margin: 0px;
    max-width: 100%;    
    overflow: hidden;
    margin-bottom: 1.56rem;
    @include mobile {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: 1.56rem;            
    }     
}
.AnswerOptionsList_Container {  
    padding: 0px; 
    margin: auto 0px;
    height: 100%;    
}
.AnswerOptionsList_Item {
    display: block;
    width: 100%;
    height: calc(100% / 6);    
    text-align: left;
    color: $white;
    border: 1px solid $dark-mode-border;
    border-bottom: none;
    background-color:$dark; 
    padding: 0.85rem 1.25rem;
    font-weight: 400; 
    @include mini {
        font-size: 1.25rem;
        padding: 1rem;
    } 

    &:focus {
        background-color:$dark-mode-border;
    }

    &:hover {
        background-color:$dark-mode-border;
    }      

    &:first-child {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }

    &:last-child {
        border-bottom-left-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        border-bottom: 1px solid $dark-mode-border;
    }  

    
}    



.AnswerOptionDetails_Dummy {
    height: 100%;
    border: 1px solid $dark-mode-border;
    border-radius: 0.25rem;
    background-color:$dark; 
    padding: 1rem;    
    font-weight: 400; 

    &_Text {
        display:block;
    }
    
    @include mini {
        display: none;
    }
}


